.index-chat-index .chat-index-home {
  margin: 0 auto;
  width: 780px; }
  .index-chat-index .chat-index-home .chat-box {
    width: 560px; }
    .index-chat-index .chat-index-home .chat-box img {
      height: 50px !important; }
    .index-chat-index .chat-index-home .chat-box .chat-log {
      border: 1px solid #cccccc;
      height: 400px;
      cursor: text;
      overflow-y: auto;
      display: block;
      word-wrap: break-word;
      padding: 5px; }
      .index-chat-index .chat-index-home .chat-box .chat-log .u {
        margin-bottom: 10px; }
        .index-chat-index .chat-index-home .chat-box .chat-log .u .portrait {
          width: 50px;
          height: 50px; }
          .index-chat-index .chat-index-home .chat-box .chat-log .u .portrait img {
            width: 45px !important;
            height: 45px !important; }
        .index-chat-index .chat-index-home .chat-box .chat-log .u .info {
          margin-left: 10px; }
          .index-chat-index .chat-index-home .chat-box .chat-log .u .info .name {
            font-size: 12px;
            padding-bottom: 5px;
            color: #999; }
          .index-chat-index .chat-index-home .chat-box .chat-log .u .info .message {
            max-width: 320px;
            padding: 8px 15px;
            background-color: #e2e2e2;
            border-radius: 3px;
            position: relative;
            font-size: 14px; }
            .index-chat-index .chat-index-home .chat-box .chat-log .u .info .message:after {
              position: absolute;
              content: '';
              left: -10px;
              top: 13px;
              width: 0;
              height: 0;
              border-style: solid dashed dashed;
              border-color: #e2e2e2 transparent transparent;
              overflow: hidden;
              border-width: 10px; }
      .index-chat-index .chat-index-home .chat-box .chat-log .m {
        margin-bottom: 10px; }
        .index-chat-index .chat-index-home .chat-box .chat-log .m .portrait {
          width: 50px;
          height: 50px; }
          .index-chat-index .chat-index-home .chat-box .chat-log .m .portrait img {
            width: 45px !important;
            height: 45px !important; }
        .index-chat-index .chat-index-home .chat-box .chat-log .m .info {
          padding-right: 10px; }
          .index-chat-index .chat-index-home .chat-box .chat-log .m .info .name {
            text-align: right;
            font-size: 12px;
            padding-bottom: 5px;
            color: #999; }
          .index-chat-index .chat-index-home .chat-box .chat-log .m .info .message {
            max-width: 320px;
            background-color: #5FB878;
            color: #fff;
            border-radius: 3px;
            position: relative;
            font-size: 14px;
            padding: 8px 15px; }
            .index-chat-index .chat-index-home .chat-box .chat-log .m .info .message:after {
              position: absolute;
              content: '';
              right: -10px;
              top: 13px;
              width: 0;
              height: 0;
              border-style: solid dashed dashed;
              border-color: #5FB878 transparent transparent;
              overflow: hidden;
              border-width: 10px; }
    .index-chat-index .chat-index-home .chat-box .chat-say {
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      height: 120px;
      overflow-y: auto;
      display: block;
      word-wrap: break-word;
      outline: 0;
      cursor: text;
      padding: 5px 5px 0 5px; }
    .index-chat-index .chat-index-home .chat-box .chat-footer {
      height: 49px;
      padding: 5px;
      text-align: right;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc; }
  .index-chat-index .chat-index-home .online-list {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 569px;
    width: 220px; }
.index-chat-index .chat-index-footer {
  border: 1px solid #cccccc;
  height: 520px;
  width: 100%; }

.index-index-index .login-box {
  padding: 20px;
  margin: 0 auto;
  max-width: 400px; }

/*# sourceMappingURL=style.css.map */
