@charset "UTF-8";
//页面index/chat/index
$onlineListWidth:220px;//在线列表宽度
$chatBoxWidth:560px;//聊天窗口宽度
$chatLogHeight:400px;//聊天记录框高度
$chatSayHeight:120px;//聊天输入框高度
$chatFooterHeight:49px;//聊天发送按钮框高度
$chatImgSize:50px//聊天框和聊天记录里的图片尺寸